# Environment variables
.env
.env.*

# Python Cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Local history (VS Code)
.history/

# Virtual environments
.venv/
venv/
env/

# IDE files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
